main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 30px;
}

.general__button--active {
  border: none;
  background-color: white;
  color: var(--purple);
}

.general__button--inactive {
  border: none;
  background-color: white;
  color: var(--gray-text);
}

.general__button--active:hover {
  background-color: white;
  transform: scale(1.1);
}

.general__button--inactive:hover {
  background-color: white;
  transform: scale(1.1);
}
